/* Media Queries */
/* Font Family */
/* Color Scheme */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #161718;
}

.task {
  min-height: 100vh;
}

.navbar {
  padding: 3rem;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  margin: 0 auto;
}
.navbar__logo {
  flex: 0 0 10rem;
}
.navbar__logo img {
  display: block;
  max-width: 10rem;
}
.navbar__menu ul {
  list-style: none;
}
.navbar__menu ul li {
  display: inline-block;
  color: #fff;
  margin: 0 0 0 2.5rem;
}
.navbar__menu ul li a {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  text-decoration: none;
  color: currentColor;
  font-weight: 400;
}
.navbar__menu ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 1px;
}
.navbar__menu ul li a.is-active::after, .navbar__menu ul li a:active::after, .navbar__menu ul li a:visited::after {
  background-color: deeppink;
}

.task--1 {
  padding: 3rem;
  overflow: hidden;
}
.task--1 p {
  font-family: "Open Sans", sans-serif;
  font-size: clamp(3rem, 3vw, 6rem);
  font-weight: 100;
  line-height: 1.3;
  color: #f35626;
}
.task--1 p strong {
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 20s infinite linear;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.task--2 {
  padding: 3rem;
  display: grid;
  place-items: center;
}
.task--2 .heading {
  font-family: "Karla", sans-serif;
  line-height: 1;
  text-align: center;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 20s infinite linear;
  display: none;
}
.task--2 .heading span {
  text-transform: uppercase;
  display: block;
  margin: 1.5rem 0;
  padding: 1rem;
  z-index: 1;
  border-radius: 25px;
  border: 2px dashed #fff;
}
.task--2 .heading--lg {
  font-size: 10rem;
}
@media screen and (min-width: 1024px) {
  .task--2 .heading--lg {
    display: block;
  }
}
.task--2 .heading--md {
  font-size: 8rem;
}
@media screen and (min-width: 640px) and (max-width: 1024px) {
  .task--2 .heading--md {
    display: block;
  }
}
.task--2 .heading--sm {
  font-size: 5rem;
}
@media screen and (max-width: 640px) {
  .task--2 .heading--sm {
    display: block;
  }
}

.task--3 .app {
  height: 100vh;
  padding: 0 5vw;
  background: linear-gradient(116.87deg, rgba(255, 175, 167, 0.7), rgba(254, 251, 238, 0.7));
  font-family: "Karla", sans-serif;
  color: #2b2839;
}
.task--3 .app__container {
  position: relative;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  z-index: 100;
  display: grid;
  place-items: center;
}
.task--3 .app__logo {
  justify-self: flex-start;
}
.task--3 .app .placeholder {
  position: relative;
  z-index: 100;
  width: 100%;
  min-height: 750px;
  border: 5px solid #2b2839;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 180, 162, 0.7) 0%, rgba(254, 251, 238, 0.392) 100%);
}
.task--3 .app .placeholder__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease-in-out;
}
@media screen and (max-width: 992px) {
  .task--3 .app .placeholder__content {
    justify-content: flex-start;
    padding: 5rem 3rem 1rem;
  }
}
.task--3 .app .placeholder__content h1 {
  display: block;
  text-align: center;
  font-size: clamp(38px, 3vw, 62px);
  line-height: clamp(38px, 3vw, 62px);
  font-weight: 700;
  max-width: 484px;
  margin: 0 auto 4.7rem;
}
.task--3 .app .placeholder__content p {
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  text-align: center;
  max-width: 484px;
  margin: 0 auto 7rem;
}
.task--3 .app .placeholder__content button {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  min-width: 330px;
  margin: 0 auto;
  min-height: 100px;
  line-height: 1;
  background: #2b2839;
  color: #fff;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 32px;
  cursor: pointer;
}
.task--3 .app .placeholder__results {
  flex: 1;
  background: rgba(255, 180, 162, 0.7);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  right: 0;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}
@media screen and (max-width: 992px) {
  .task--3 .app .placeholder__results {
    width: 100%;
    height: 78%;
    background: #ffb4a2;
  }
}
.task--3 .app .placeholder__results ul {
  list-style: none;
}
.task--3 .app .placeholder__results ul li {
  display: block;
  font-size: 30px;
  line-height: 60px;
  font-weight: 400;
  transform: translateX(300%);
  opacity: 0;
  animation: slide-in 0.3s 0.2s ease-in-out forwards;
}
.task--3 .app .placeholder__results ul li span {
  font-size: 55px;
  font-weight: 700;
  display: block;
}
.task--3 .app .placeholder .icon {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  top: 30%;
  animation: float-shapes 10s ease infinite alternate-reverse;
  opacity: 0.8;
  transition: opacity 0.4s ease-in-out;
}
.task--3 .app .placeholder .icon--map {
  left: 12rem;
}
.task--3 .app .placeholder .icon--search {
  right: 12rem;
  animation-delay: 0.5s;
}
@media screen and (max-width: 992px) {
  .task--3 .app .placeholder .icon {
    opacity: 0.4;
    width: 15rem;
    height: 15rem;
    top: initial;
  }
  .task--3 .app .placeholder .icon--map {
    left: 3rem;
    bottom: 3rem;
  }
  .task--3 .app .placeholder .icon--search {
    bottom: 3rem;
    right: 3rem;
  }
}
.task--3 .app .placeholder[data-state=results] .icon {
  opacity: 0;
}
.task--3 .app .placeholder[data-state=results] .placeholder__content {
  transform: translateX(-25%);
}
@media screen and (max-width: 992px) {
  .task--3 .app .placeholder[data-state=results] .placeholder__content {
    transform: translatey(45%);
  }
}
.task--3 .app .placeholder[data-state=results] .placeholder__results {
  transform: translateX(0%);
}
.task--3 .app .placeholder[data-state=results] .placeholder__results ul li {
  animation-play-state: running;
}
.task--3 .app::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 500%;
  opacity: 0.5;
  background-color: white;
  background-image: url(../../assets/img/world.svg);
  background-repeat: repeat;
  animation-name: sideupscroll;
  animation-duration: 240s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
@keyframes sideupscroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes float-shapes {
  25% {
    transform: scale(1) translate(1rem, 2rem);
  }
  50% {
    transform: scale(0.9) translate(-1rem, -1rem);
  }
  100% {
    transform: scale(1) translate(0rem, 0rem);
  }
}
@keyframes slide-in {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.task--4 {
  background-color: #0ca8ae;
}
.task--4 .app {
  position: relative;
  transition: transform 0.4s ease-in-out;
}
.task--4 .app.is-active {
  transform: translateY(-145px);
}
.task--4 .app.is-active > .app__form {
  opacity: 0;
}
.task--4 .app__form {
  transition: opacity 0.3s ease-in-out;
}
.task--4 .app__form .heading {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 2px 3px #00838b;
  letter-spacing: -0.2px;
  font-weight: 600;
  font-size: 34px;
  line-height: 38px;
  margin: 0;
  padding: 20px 0 20px 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.task--4 .app__form .form {
  position: relative;
  height: 100px;
  display: block;
  width: 710px;
  margin: 0 auto 0 auto;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.task--4 .app__form .form__input {
  position: absolute;
  display: inline-block;
  height: 65px;
  background-color: #ffffff;
  border: solid 2px #02989d;
  left: 0;
  top: 0;
  font-size: 16px;
  color: #777d85;
  width: 582px;
  margin: 0;
  padding: 0 20px 0 20px;
  border-radius: 4px;
}
.task--4 .app__form .form__submit {
  right: 0;
  top: 0;
  height: 65px;
  display: inline-block;
  position: absolute;
  width: 103px;
  background-color: #f08421;
  color: #ffffff;
  border: solid 2px #a6e3e5;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}
.task--4 .app .display {
  position: relative;
  display: block;
  height: 560px;
  width: 962px;
  margin: 0 auto;
  padding: 42px 119px 100px 121px;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/laptop-placeholder.png);
  background-position: 0 0;
}
.task--4 .app .display__screen {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.task--4 .app .display__screen::after {
  content: "";
  position: absolute;
  inset: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.task--4 .app .display__screen.is-loading::after {
  opacity: 1;
}
.task--4 .app .display__screen__website {
  background-image: url(../../assets/img/laptop-content-cnn.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.task--4 .app .display__screen__widget {
  background-image: url(../../assets/img/laptop-content-static.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  left: 57px;
  top: 183px;
  width: 406px;
  height: 118px;
}
.task--4 .app .display__screen__img {
  position: absolute;
  left: 483px;
  top: 183px;
  width: 192px;
  height: 117px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 1;
}
.task--4 .app .display__screen__img--default {
  background-image: url(../../assets/img/desktop-content-image.png);
  transition: opacity 0.3s ease;
}
.task--4 .app .display__screen__img--loading {
  background-color: #f08421;
  background-image: url(../../assets/img/preloader.gif);
  transition: opacity 0.3s ease;
}
.task--4 .app .display__screen__title {
  position: absolute;
  top: 305px;
  width: 194px;
  font-size: 13px;
  line-height: 14px;
  font-weight: bold;
  color: #0c0c0c;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.task--4 .app .display__screen__title--1 {
  left: 57px;
}
.task--4 .app .display__screen__title--2 {
  left: 269px;
}
.task--4 .app .display__screen__title--3 {
  left: 483px;
}
.task--4 .interface {
  position: relative;
  list-style: none;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transition: opacity 0.3s ease, transform 0.3s ease-in-out;
  z-index: -1;
}
.task--4 .interface.is-hidden {
  opacity: 0;
  transform: translateY(-150px);
  pointer-events: none;
}
.task--4 .interface__btn {
  flex: 1;
  height: 100%;
}
.task--4 .interface__btn a {
  display: block;
  margin: 0 20px;
  text-decoration: none;
  text-align: center;
  padding: 30px 20px;
  font-size: 20px;
  line-height: 1;
  text-transform: capitalize;
  font-family: Arial;
}
.task--4 .interface__btn--cta a {
  color: #fff;
  background-color: #f08421;
}
.task--4 .interface__btn--reset a {
  color: #0ca8ae;
  background-color: #ffffff;
}

/*# sourceMappingURL=styles.css.map */
