/* Font Family */
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Karla', sans-serif;

/* Color Scheme */
$brand-primary: #EE6513;
$brand-secondary: #151E41;

$brand-100: #DDEBF8;
$brand-200: #5035FF;
$brand-300: #2B2839;
$brand-400: #E7A4D0;

$brand-light: #fff;
$brand-dark: #000;
