.task--1 {
    padding: 3rem;
    overflow: hidden;
    p {
        font-family: $font-primary;
        font-size: clamp(3rem, 3vw, 6rem);
        font-weight: 100;
        line-height: 1.3;
        color: #f35626;

        background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: hue 20s infinite linear;
    }
}

@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}
